{% extends "base.html" %}

{% block content %}

<head>
    <link rel = 'stylesheet' href = '../static/css/signup_login.css'>
    <script src='../static/js/signup.js'></script>
</head>
<body>
    <div id = 'headings'>
        <h1>Mood Track</h1>
        <h2> Already Registered? <a href = '{{ url_for('auth.login') }}'> Login </a></h2>
        <h3> Not Yet Registered? Create New Account </h3>
    </div>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class = 'container'>
            <p>
                <div class = 'label'>{{ form.firstname.label }} </div>
                {{ form.firstname(size=40) }} <br>
                {% for error in form.firstname.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            
            </p>
            <p>
                <div class = 'label'>{{ form.lastname.label }}</div>
                {{ form.lastname(size=40) }}<br>
                {% for error in form.lastname.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                <div class = 'label'>{{ form.username.label }}</div>
                {{ form.username(size=40) }}<br>
                {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                <div class = 'label'>{{ form.orcid.label }}</div>
                {{ form.orcid(size=40) }}<br>
                {% for error in form.orcid.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>

            <p>
                <div class = 'label'>{{ form.institution.label }}</div>
                {{ form.institution(size=40) }}<br>
                {% for error in form.institution.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                <div class = 'label'>{{ form.email.label }}</div>
                {{ form.email(size=40) }}<br>
                {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                <div class = 'label'>{{ form.email2.label }}</div>
                {{ form.email2(size=40) }}<br>
                {% for error in form.email2.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                <div class = 'label'>{{ form.password.label }}</div>
                {{ form.password(size=40) }}<br>
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                <div class = 'label'>{{ form.password2.label }}</div>
                {{ form.password2(size=40) }}<br>
                {% for error in form.password2.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                <div class = 'label'>{{ form.reason.label }}</div>
                {{ form.reason(cols=50, rows=4) }}<br>
                {% for error in form.reason.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
        
            <p><div onclick = 'display(test)' class = 'submit'> {{ form.submit()}} </div></p>
        </div>
    </form>
    
    <!-- modal-->
    <div id = "myModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Sign Up Request Sent</h5>
              </button>
            </div>
            <div class="modal-body">
              <p> Your sign up request has successfully been sent to the admin, an email will be sent to "example@gmail.com" once the request is approved. Thank you.</p>
            </div>
            <div class="modal-footer">
              <button type="button" id = 'closeModal' onclick ='hide()'>Close</button>
            </div>
          </div>
        </div>
    </div>
</body>
{% endblock %}