.pagetitle {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 10px;
}

.container-holder {
	padding-left: 30px;
	padding-right: 30px;
}

.container-fluid {
	border-color: black;
	border-width: 5px;
	border-style: solid;
	border-radius: 3px;
}

