@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins:wght@300;500;700&display=swap');


body{
    background-image: url('../images/background.png');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #e4c9e5;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
}

img{
    height: 100px;
    float: left;
    padding-right: 0.5%;
}

ul{
    list-style-type: none;
}

li{
    display: inline;
}

.topnav{
    background-color: white;
    overflow: hidden;
    padding: 1%;
}

a {
    padding-left: 1%;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    font-size: 35px;
    color:black;
    padding:1%;
}

.topnav a.right {
    float: right;
    font-size: large;
}

.topnav a.rightActive{
    float:right;
    background-color: lightgrey;
    border-radius:  25px;
    font-size: large;
}

.topnav a.left{
    float: left;
    font-size: large;
}

.topnav a.leftActive{
    float:left;
    background-color: lightgrey;
    border-radius: 25px;
    font-size: large;
}

.logo{
    height: 80px;
    width: 400px;
}

@media(max-width: 700px){
    .logo{
        height: 40px;
        width: 200px;
    }

    .topnav a.right {
        font-size: small;
    }

    .topnav a.rightActive{
        font-size: small;
    }
    
    .topnav a.left{
        font-size: small;
    }
    
    .topnav a.leftActive{
        font-size: small;
    }

    body{
        font-size: x-small;
    }
}

.delete{
    background-color: #f85c70;
    color: white;
    border: none;
    border-radius: 8px;
    width: 85px;
}

.flash{
    text-align: center;
    margin: auto;
    background-color: #a1a9fe;
    width: 20%;
    padding: 1%;
    font-size: 20px;
    border-radius: 15px;
    border-style: double;
    letter-spacing: 2px;
    font-weight: bold;
    margin-top: 1%;
}

#appName{
    float: left;
    font-size: 50px;
    padding-right: 2%;
    font-weight: bold;
    letter-spacing: 4px;
    font-family: 'Poppins', sans-serif;
}

#name{
    padding: 1%;
    font-size: 60px;
    letter-spacing: 4px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}