body{
    text-align: center;
}

#personalDetails{
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

#reminder{
    font-size: 20px;
    letter-spacing: 2px;
}

h2{
    padding:2%;
    font-size: 40px;
}

#instruction{
    margin-top: 2%;
    padding: 5%;
    font-size: 20px;
}

#bigContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
}

.row{
    padding: 2%;
}

.smallContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
}


.emotionBlk{    
    padding: 20%;
    border: 20px solid #7087ff;
    position: relative;
    background-color: white;
    float: left;
}

.emotionBlkActive{    
    padding: 20%;
    border: 20px solid #7087ff;
    position: relative;
    background-color: #7087ff;
    float: left;
}

.emotion{
    text-align: center;
    font-size: 52px;
    margin: auto;
}

.adjustorBlk{
    background-color: white;
    border: 10px solid #A020F0;
}

.adjustorBlkActive{
    background-color: white;
    border: 10px solid #51087E;
}


.add{
    float: right;
    font-size: 30px;
    height: 100%;
    background-color: #A020F0;
    padding-left: 5%;
    padding-right: 5%;
    color: white;
}
.addActive{
    float: right;
    font-size: 30px;
    height: 100%;
    background-color: #51087E;
    padding-left: 5%;
    padding-right: 5%;
    color: white;
}



.subtract{
    float: left;
    font-size: 30px;
    height: 100%;
    background-color: #A020F0;
    padding-left: 5%;
    padding-right: 5%;
    color: white;
}

.subtractActive{
    float: left;
    font-size: 30px;
    height: 100%;
    background-color:#51087E;
    padding-left: 5%;
    padding-right: 5%;
    color: white;
}


.intensity{

    font-size: 35px;
}

button{
    font-size: larger;
    background-color: #f3b06a;
    color: white;
    font-family: 'DM Sans', sans-serif;
    border-color: white;
    letter-spacing: 2px;
    padding: 2%;
    border-radius: 15px;
    width: 60%;
    font-weight: bold;
    margin-top: 3%;
    padding: 3%;
}
