body{
    text-align: center;
}

#personalDetails{
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

#reminder{
    font-size: 20px;
    letter-spacing: 2px;
}

h2{
    padding:2%;
    font-size: 40px;
}

#instruction{
    margin-top: 2%;
    padding: 5%;
    font-size: 20px;
}
