
#headings{
    text-align: center;
}

h1{
    font-size: 100px;
    padding: 1%;
}

a, h2{
    font-size: 30px;
    padding: 1%;
    color: black;
}

h3{
    font-size: 50px;
    padding-top: 3%;
    padding-bottom: 1%;
}

.container{
    width: 600px;
}

.label{
    text-transform: uppercase;
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
}

textarea,input{
    width: 100%;
    border-width:0px;
    border-radius: 5px;
    padding: 2%;
}

#submit{
    background-color: #feb06a;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 15px;
    padding:15px;
}

.submit{
    padding-top: 2%;
    width: 80%;
    margin:auto;
}

#closeModal{
    margin: auto;
    border-color: #f3b06a;
    background-color: #f3b06a;
    color:white;
    padding: 2%;
    width: 60%;
    border-radius: 10px;
}