{% extends "base.html" %}

{% block content %}
<head> 
    <link rel = 'stylesheet' href = '../static/css/aboutus.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css"></link>
</head>
<body>
    <h1> About Us </h1>
    <div id = "blk1">
        <h2> Emotion App </h2>
        <p> Emotion App is an application that allows users to select and select and fill in real time emotions in a classroom scenario.</p>
        <p> Researchers can customise the session based on their preferences.  </p>
    </div>
    <div id = "blk2">
        <h2> Our Team </h2>
        <p> EmotionApp is developed by a team of undergrauduates from the University of Western Australia. Our team consists of:</p>
        <div id = "names">
            <p> Bryce O' Connor </p>
            <p> Carmen Leong </p>
            <p> Mandeal Tan </p>
            <p> Wai Yee Goh </p>
        </div>
    </div>
</body>
{% endblock %}