{% extends "base.html" %}

{% block content %}
<head> 
    <link rel = 'stylesheet' href = '../static/css/aboutus.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css"></link>
</head>
<body>
    <h1> About Us </h1>
    <div id = "blk1">
        <h2> Emotion App </h2>
        <p> Emotion App is an application that allows users to select and select and fill in real time emotions </p>
    </div>
    <div id = "blk2">
        <h2> Our Team </h2>
        <p> EmotionApp is developed by a team of undergrauduates from the University of Western Australia </p>

    </div>
</body>
{% endblock %}