{% extends "base.html" %}

{% block content %}

<head> 
    <link rel = 'stylesheet' href = '../static/css/viewsession.css'>
</head>

<h1 class="display-4 pagetitle">View Sessions</h1>

<div class="container-holder">
    <div class="container-fluid text-center bg-white" id="container">
        <div class="row bg-dark text-white">
            <div class="col-2 d-flex">
                <h5 style="margin:auto"><strong>Session ID</strong></h5>
            </div>
            <div class="col-3 d-flex">
                <h5 style="margin:auto"><strong>Session Name</strong></h5>
            </div>
            <div class="col-2 d-flex">
                <h5 style="margin:auto"><strong>Session Created By (UserID)</strong></h5>
            </div>
            <div class="col-3 d-flex">
                <h5 style="margin:auto"><strong>Session Created By (Username)</strong></h5>
            </div>
            <div class="col-2 d-flex">
                <h5 style="margin:auto"><strong>Delete Session</strong></h5>
            </div>
        </div>

        {% for session in sessions %}

        <div id={{session[0].id}} class="row">
            <div class="col-2 border d-flex">
                <p style="margin:auto; padding-top: 15px; padding-bottom: 15px">{{ session[0].id }}</p>
            </div>
            <div class="col-3 border d-flex">
                <p style="margin:auto">{{ session[0].session_title }}</p>
            </div>
            <div class="col-2 border d-flex">
                <p style="margin:auto">{{ session[0].user_id }}</p>
            </div>
            <div class="col-3 border d-flex">
                <p style="margin:auto">{{ session[1].username }}</p>
            </div>
            <div class="col-2 border d-flex">
                <p style="margin:auto">
                    <button class="delete btn btn-danger" data-bs-toggle="modal"
                    data-bs-target="#exampleModal" onclick="delSession('{{session[0].id}}')">Delete</button>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script>

    // Delete Session
    function delSession(sessionid){
        id = sessionid

        // emptying the modal
        $(".modal-body").empty()
        $(".modal-footer").empty()

        // changing title of modal
        var title = document.getElementById('exampleModalLabel')
        title.innerHTML = "Deletion of Session"

        // adding warning 
        warning1 = "WARNING"
        warning2 = "Are you sure you want to to delete this session?"
        warning3 = "There is no way to undo this."

        $(".modal-body").append('<div id = "warningBlk"><p id = "warning">' + warning1 + '</p></div>')
        $(".modal-body").append('<div><p>' + warning2 + '</p></div>')
        $(".modal-body").append('<div><p>' + warning3 + '</p></div>')


        // adding confirmation
        confirmation = "I have read and confirmed my intent"
        $(".modal-body").append('<div id = "confirmationBlk"><input type="checkbox" id = "confirmation"></div>')
        $("#confirmationBlk").append('<label for="confirmation" id = "confirmLabel">' + confirmation + '</label>') // hiding label 

        // adding label
        label = "Please check the checkbox to confirm your intent!"
        $(".modal-body").append('<div><label id = "notify">' + label + '</label></div>')
        notify = document.getElementById('notify')
        notify.style.display = "none"

        // adding button
        $(".modal-footer").append('<br><button id = "confirmDel">Delete</button>')

        var delBtn = document.getElementById('confirmDel')
        delBtn.onclick = function(){confirmDel(id)}
    }

    function confirmDel(sessionid){
        var confirmation = document.getElementById('confirmation')
        var blk = document.getElementById('confirmationBlk')

        // checking if user confirms their intent
        if (confirmation.checked){

            //  removing session on front end using DOM
            deletedSession = document.getElementById(sessionid)
            parent = document.getElementById('container')
            parent.removeChild(deletedSession)

            // closing the modal
            $('#exampleModal').modal('hide');

            // deleting from db
            var target = JSON.stringify(sessionid)
            $.ajax({
                url: 'deleteSession',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(target)
            })

        }
        else{
            label = document.getElementById('notify')
            label.style.display = 'inline'
            blk.style.outline= "thin solid red"
        }

    }
        
</script>


{% endblock %}