{% extends "base.html" %}

{% block content %}

<head> 
    <link rel = 'stylesheet' href = '../static/css/createsession.css'>
    <script src='../static/js/createsession.js'></script>
</head>
 @Mandeal, Feel free to remove unwanted stuff in here and the comments, it's just an example template to hopefully guide you
<p>session creation page</p>
<p>User: {{current_user.username}}</p>
<button onclick="submitSession()">Submit Dummy Data</button>

<script>

// POST REQUEST JSON DATA FORMAT
// {sessionTitle:'',consent:'',preQuestions:['',''],emotions:'',intensity:'',postQuestions:['','']}
// ----------------------------------------------------------
    function submitSession() {
        console.log('submitted?')
        // Dummy data
        var mydata = { sessionTitle:'HEHE', consent: 'consent mtfk', preQuestions: ['q1(open ended)','q2(mult choice)\noption1\noption2'], emotions: 'happy\nsad', intensity: 10, postQuestions: ['q1(open ended)','q2(mult choice)\noption1\noption2'] }

        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {

            if (xhttp.readyState === XMLHttpRequest.DONE) {
                const status = xhttp.status;
                if (status === 0 || (status >= 200 && status < 400)) {
                    // The request has been completed successfully
                    console.log('Submitted!')
                    console.log(xhttp.responseText);
                } else {
                    console.log(xhttp.responseText);
                    // Oh no! There has been an error with the request!
                }
            }
        }
        xhttp.open('POST', '/createsession', true);
        xhttp.setRequestHeader('Content-Type', 'application/json');
        xhttp.send(JSON.stringify(mydata));
    }

</script>

<body>
    <div class = 'parent'>
        <h1> Create Session </h1>
        <form action = "" method = 'post'>
            <!-- Session Title -->
            <div id = 'title_block' class = 'block'>
                <label class = 'main'>Session Title</label><br>
                <input type ='text' placeholder ='Please enter your session title here'></input><br>
            </div>

            <!-- Participant Consent -->
            <div id = 'consent_block' class = 'block'>
                <label class = 'main'> Participant Information and Consent </label><br>
                <label class = 'sub'> Fill in the terms and condition that is required for participants to agree on before undertaking this session. </label><br>
                <textarea> </textarea>
            </div>

            <!-- Pre-measuring Questions-->
            <div id = 'pre_block' class = 'block'>
                <label class = 'main'> Pre-Measuring Questions </label><br>
                <label class = 'sub'> To create open-ended question, type in question as a paragraph. To create multiple-choice question, type in question as first paragraph and type in each option as a new line. </label>
                    <!-- where new questions will be added-->
                    <div id = 'questions'>
                        <div id = '1' class = 'qblock'>
                            <textarea id = 't1'> </textarea>
                            <span id = 'd1' class="del" onclick = 'del(this)'>X</span>
                        </div>
                    </div>
                <br><span id = 'add' onclick = 'add()'> Add New Question </span><br>
            </div>

            <!--Emotions -->
            <div id = 'emotion_block' class = 'block'>
                <label class = 'main'> Emotions </label><br>
                <label class = 'sub'> Insert each emotion option as a new line </label><br>  <br>
                <label class = 'main'> Emotion Options </label><br>
                <textarea> </textarea><br>
                <label class = 'main'> Max Intensity </label><br>
                <input type = 'text' placeholder = 'Please enter a number from 3 - 12'> </input><br>
            </div>

            <button id = 'create'> Create Session </button>
            
        </form>    
    </div>
</body>

{% endblock %}