{% extends "base.html" %}

{% block content %}

<head>
    <link rel='stylesheet' href='../static/css/createsession.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
    </link>
    <script src='../static/js/createsession.js'></script>
</head>

<body>
    <div class='parent'>
        {% if is_create is not defined %}
        <h1> Edit Session </h1>
        {% else %}
        <h1> Create Session </h1>
        {% endif%}
        <!-- Session Title -->
        <div id='title_block' class='block'>
            <label class='main'>Title</label><br>
            <input id='title' type='text' value='{{session.session_title}}'> </input><br>
            <p class = 'error' id = 'title_error'></p>
        </div>

        <!-- Participant Consent -->
        <div id='consent_block' class='block'>
            <label class='main'> Participant Information and Consent </label><br>
            <label class='sub'> Fill in the terms and condition that is required for participants to agree on before
                undertaking this session. </label><br>
            <textarea id='consent'>{{session.consent}} </textarea>
            <p class = 'error' id = 'consent_error'></p>
        </div>

        <!-- Pre-measuring Questions-->
        <div id='pre_block' class='block'>
            <label class='main'> Pre-Measuring Questions </label><br>
            <label class='sub'> To create open-ended question, type in question as a paragraph. To create
                multiple-choice question, type in question as first paragraph and type in each option as a new line.
            </label>
            <!-- where new questions will be added-->
            <div id='pre_questions'></div>
            <button class='add' onclick="add('pre')"> Add New Question </button>
        </div>

        <!--Emotions -->
        <div id='emotion_block' class='block'>
            <label class='main'> Emotions </label><br>
            <label class='sub'> Insert each emotion option as a new line </label><br> <br>
            <label class='main'> Emotion Options </label><br>
            <textarea id='emotion'>{{session.emotions}}</textarea><br>
            <p class = 'error' id = 'emotions_error'></p><br>
            <label class='main'> Max Intensity </label><br>
            <input id='intensity' type='text' placeholder='Please enter a number from 3 - 12'
                value='{{session.intensity}}'></input><br>
            <p class = 'error' id = 'intensity_error'></p>
        </div>

        <!-- Post Measuring Question -->
        <div id='post_block' class='block'>
            <label class='main'> Post-measuring Questions </label><br>
            <!-- where new questions will be added-->
            <div id='post_questions'></div>
            <button class='add' onclick="add('post')"> Add New Question </button>
        </div>
        {% if is_create is not defined %}
        <button onclick="update()" id='update'>Update Session</button>
        {% else %}
        <button onclick="submit()" id='submit'>Create Session</button>
        {% endif%}
    </div>

    <!-- modal-->
    <div id="myModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Session Updated</h5>
                    </button>
                </div>
                <div class="modal-body">
                    {% if is_create is not defined %}
                    <p> Session updated successfully! </p>
                    <p> Feel free to add more changes or head to the View Session Page</a> to checkout your session!</p>
                    {% else %}
                    <p> Please head to view session page to checkout the session created.</p>
                    {% endif%}

                </div>
                <div class="modal-footer">
                    <button type="button" id='closeModal' onclick='hide()'>Close</button>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    // function to generate question blocks and delete option using document object model (DOM)
    function gen_block(all_questions, target) {
        if (target == 'pre_questions') {
            var type = 'preq'
        }
        else {
            var type = 'post'
        }

        // creating parent and child blocks
        var parent = document.getElementById(target)

        //adding 
        for (var i = 0; i < all_questions.length; i++) {

            var child = document.createElement('div')

            // creating question and delete 
            var question = document.createElement('textarea')
            var del = document.createElement('i')
            var para = document.createElement('p')

            // setting attributes of question and del
            if (type == 'preq') {
                question.setAttribute('class', 'preQ')
                para.setAttribute('id', 'preq_error' + counter.toString())
            }
            else {
                question.setAttribute('class', 'postQ')
                para.setAttribute('id', 'postq_error' + counter.toString())
            }
            question.setAttribute('id', 't' + counter.toString())
            question.value = all_questions[i]
            del.setAttribute('id', type + 'd' + counter.toString())
            del.setAttribute('class', "fas fa-trash fa-2x")
            del.setAttribute('aria-hidden', "true")
            del.setAttribute('onclick', 'del(this)')
            para.setAttribute('class', 'error')

            // appending created things to child
            child.setAttribute('id', counter)
            child.setAttribute('class', 'qblock')
            child.appendChild(question)
            child.appendChild(del)
            child.appendChild(para)

            // appending back into parent block
            parent.appendChild(child)

            counter++
        }
    }


    // retrieving pre and post questions
    var preQ_all = {{ session.pre_ques| safe}}
    var postQ_all = {{ session.post_ques| safe}}


    console.log({{ session.pre_ques | safe }})
    console.log({{ session.post_ques | safe }})

    // generating pre and post questions
    gen_block(preQ_all, 'pre_questions')
    gen_block(postQ_all, 'post_questions')

    // function to collate and update db
    function update() {
        // validate input
        var is_validate = validateInput()
        console.log(is_validate)

        if (is_validate == true){
            //retrieving results
            var title = retrieve_title()
            var consent = retrieve_consent()
            var prequestions = retrieve_prequestions()
            var emotion = retrieve_emotions()
            var intensity = retrieve_intensity()
            var postquestions = retrieve_postquestions()
            //combining the data
            mydata = {
                id: '{{session.id}}',
                sessionTitle: title,
                consent: consent,
                preQuestions: prequestions,
                emotions: emotion,
                intensity: intensity,
                postQuestions: postquestions
            }
            jsonData = JSON.stringify(mydata)
            $.ajax({
                url: '/updateSession',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(jsonData)
            })
            //displaying modal
            $('#myModal').modal('show')
        }
        


    }

</script>

{% endblock %}