{% extends "base.html" %}

{% block content %}
    <head>
        <link rel = 'stylesheet' href = '../static/css/signup_login.css'>
    </head>
    <body>
        <div id = 'headings'>
            <h1>Mood Track</h1>
            <h2> Not Yet Registered? <a href = '{{ url_for('signup') }}'> Sign Up </a></h2>
            <h3> Login </h3>
        </div>

        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div class = 'container'>
                <p>
                    <div class = 'label'>{{ form.email.label }}</div>
                    {{ form.email(size=32) }}
                    {% for error in form.email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    <div class = 'label'>{{ form.password.label }}</div>
                    {{ form.password(size=32) }}
                    {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    <a href="{{ url_for('reset_password_request') }}" class="label_resetpw">Forgot Your Password?</a>
                </p>
                <p><div class = 'submit'>{{ form.submit() }}</div></p>
            </form>
        </div>
    </body>
{% endblock %}