{% extends "base_participant.html" %}
{% block content %}
<head>
    <link rel = 'stylesheet' href = "{{ url_for('static', filename='css/session_3.css') }}">
</head>
<!--
<p>Session Name: {{session.session_title}}</p>
<p>Stage Num: {{stage}}</p>
<p>Participant stagenum: {{participant.stage_num}}</p>
-->
<body>
    
    emotions options: {{session.emotions}}
    <div id = 'personalDetails'>
        <p id = 'reminder'>Please remember your Personal ID Code below. It will be required to continue session or to withdraw from research in
            the future.</p>
        <h2 id = 'id'>ID Code: {{participant.id}}</h2>
        <hr>
    </div>
    <p id ='instruction'>Click on the emotion you are feeling right now and indicate it's intensity.<br>
        Maximum intensity is {{session.intensity}}</p>
    <div id = 'bigContainer'>
        <!-- Emotion Blocks will appear here-->
    </div>
    <div>
        <button onclick="submitEmotions('{{session.id}}','{{participant.id}}')">Submit present emotion(s)</button>
        <button onclick="finishSession('{{session.id}}','{{participant.id}}')">Finish Session</button>
    </div>
</body>

<script>
    var counter = 1
    var emotions = "{{session.emotions}}".split('\n')
    var intensity = "{{session.intensity}}"

    genEmotions(emotions, intensity)

    function genEmotions(emotions, intensity){
        var mainContainer = document.getElementById('bigContainer')

        // using for loop to generate all emotion blocks
        for(let i = 0; i< emotions.length; i++){

            // creating row for 2 blocks
            if (i % 2 == 0){
                var row = document.createElement('div')
                row.setAttribute('class', 'row')
            }

            var emotion = emotions[i] // each emotion

            var smallContainer = document.createElement('div')
            smallContainer.setAttribute('class', 'smallContainer')

            // creating emotion 
            var emotionBlk = document.createElement('div')          // div container holding emotion
            var emotionLabel = document.createElement('span')       // label that contains emotion

            emotionBlk.setAttribute('class', 'emotionBlk')
            emotionBlk.setAttribute('id', 'e' + counter)  
            emotionBlk.setAttribute('onclick', 'select(this.id)')   
            emotionLabel.setAttribute('class', 'emotion')
            emotionLabel.innerHTML = emotion
            emotionBlk.appendChild(emotionLabel)

            // creating intensity adjustor
            var adjustorBlk = document.createElement('div')         // div container holding adjustor
            var add = document.createElement('span')                // add button
            var subtract = document.createElement('span')           // subtract button
            var intensityLabel = document.createElement('span')     // intensity label

            add.setAttribute('class', 'add')                        // setting attributes of add button
            add.setAttribute('id', 'a' + counter)
            //add.setAttribute('onclick','add(this.id)')      
            add.innerHTML = "+"   

            subtract.setAttribute('class', 'subtract')              // setting attributes of subtract button
            subtract.setAttribute('id', 's' + counter)
            //subtract.setAttribute('onclick', 'subtract(this.id)')   
            subtract.innerHTML = "-"

            intensityLabel.setAttribute('class', 'intensity')       // setting attributes of intensity label
            intensityLabel.setAttribute('id', 'i'+ counter)
            intensityLabel.innerHTML = "-"

            adjustorBlk.setAttribute('class', 'adjustorBlk')
            adjustorBlk.setAttribute('id', 'adj' + counter)
            adjustorBlk.appendChild(subtract)
            adjustorBlk.appendChild(intensityLabel)
            adjustorBlk.appendChild(add)

            // adding emotion and adjustor block into container
            smallContainer.appendChild(emotionBlk)
            smallContainer.appendChild(adjustorBlk)

            row.appendChild(smallContainer)

            mainContainer.appendChild(row)
            counter ++

        }
    }

    function select(id){
        var targetId = id.slice(1)
        var targetEmotion = document.getElementById("e" + targetId)
        var targetAdd = document.getElementById('a' + targetId)
        var targetSubtract = document.getElementById('s' + targetId)
        var targetAdj = document.getElementById('adj' + targetId)
        var targetLabel = document.getElementById('i' + targetId)

        // toggles css to active state
        targetAdj.classList.toggle('adjustorBlkActive')
        targetEmotion.classList.toggle('emotionBlkActive')
        targetAdd.classList.toggle('addActive')
        targetSubtract.classList.toggle('subtractActive')

        var name = targetEmotion.getAttribute('class')

        // checking if emotion is selected
        if (name.includes('Active')){
            // enable selection of intensity
            targetAdd.setAttribute('onclick','add(this.id)')
            targetSubtract.setAttribute('onclick', 'subtract(this.id)')
        }
        else{
            // disables selection of intensity
            targetAdd.setAttribute('onclick','')
            targetSubtract.setAttribute('onclick', '')

            // resetting label of intensity to -
            targetLabel.innerHTML = "-"
        }


    }
    function subtract(id){
        var targetId = id.slice(1)
        var targetIntensity = document.getElementById('i' + targetId)
        var targetAdd = document.getElementById('a' + targetId)
        var targetSubtract = document.getElementById('s' + targetId)
        var value = targetIntensity.textContent

        targetAdd.setAttribute('onclick', 'add(this.id)')

        if (value == "-"){
            if (intensity % 2 == 0){
                value = intensity / 2
            }
            else {
                value = (parseInt(intensity)  + 1 )/2
                
            }
        } 
        else{
            value --
        }

        // disable subtract button
        if (value == 1){
            targetSubtract.setAttribute('onclick', '')
        }
        targetIntensity.innerHTML = value
    }

    function add(id){
        var targetId = id.slice(1)
        var targetIntensity = document.getElementById('i' + targetId)
        var targetAdd = document.getElementById('a' + targetId)
        var targetSubtract = document.getElementById('s' + targetId)
        var value = targetIntensity.textContent

        //enable subtract option
        targetSubtract.setAttribute('onclick', 'subtract(this.id)')

        if (value == "-"){
            if (intensity % 2 == 0){
                value = intensity / 2
            }
            else {
                value = (parseInt(intensity)  + 1 )/2
                
            }
        } 
        else{
            value ++
        }

        // disable subtract button
        if (value == intensity){
            targetAdd.setAttribute('onclick', '')
        }
        targetIntensity.innerHTML = value
    }


    function submitEmotions(sessionId, participantId) {
        let mydata = { stage: 3, endStage: false, emotions: { 'sad': 10, 'happy': 5 } }
        let targetUrl = `/session/${sessionId}/${participantId}`
        //submiting data
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (xhttp.readyState === XMLHttpRequest.DONE) {
                const status = xhttp.status;
                if (status === 0 || (status >= 200 && status < 400)) {
                    // The request has been completed successfully
                    console.log('Submitted!')
                    console.log(xhttp.responseText);
                } else {
                    console.log(xhttp.responseText);
                    // Oh no! There has been an error with the request!
                }
            }
        }
        xhttp.open('POST', targetUrl, true);
        xhttp.setRequestHeader('Content-Type', 'application/json');
        xhttp.send(JSON.stringify(mydata));
    }

    function finishSession(sessionId, participantId) {
        let mydata = { stage: 3, endStage: true, emotions: { 'sad': 10, 'happy': 5 } }
        let targetUrl = `/session/${sessionId}/${participantId}`
        //submiting data
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (xhttp.readyState === XMLHttpRequest.DONE) {
                const status = xhttp.status;
                if (status === 0 || (status >= 200 && status < 400)) {
                    // The request has been completed successfully
                    console.log('Submitted!')
                    console.log(xhttp.responseText);
                    // Redirect to next stage
                    targetUrl = `/session/${sessionId}/${participantId}`
                    location.href = targetUrl;
                } else {
                    console.log(xhttp.responseText);
                    // Oh no! There has been an error with the request!
                }
            }
        }
        xhttp.open('POST', targetUrl, true);
        xhttp.setRequestHeader('Content-Type', 'application/json');
        xhttp.send(JSON.stringify(mydata));
    }
</script>

{% endblock %}