{% extends "base_participant.html" %}
{% block content %}
<head>
    <link rel = 'stylesheet' href = "{{ url_for('static', filename='css/session_124.css') }}">
</head>

<div id = 'personalDetails'>
    <p id = 'reminder'>Please remember your Personal ID Code below. It will be required to continue session or to withdraw from research in
        the future.</p>
    <h2 id = 'id'>ID Code: {{participant.id}}</h2>
    <hr>
</div>

<!-- Load pre-session quesitons if participant is in stage 2 -->
{% if stage == 2 %}
<h2>Pre Session Survey</h2>
<div id = 'pre_ques_blk'></div>
<button class = 'surveyBtn' onclick="submitAns('{{session.id}}','{{participant.id}}','{{stage}}')">Submit & Continue</button>

<!-- Load post-session quesitons if participant is in stage 4 -->
{% elif stage == 4 %}
<h2>Post Session Survey</h2>
<div id = 'post_ques_blk'></div>
<button class = 'surveyBtn' onclick="submitAns('{{session.id}}','{{participant.id}}','{{stage}}')">Submit</button>
{% endif %}

<!-- Load consent modal if participant is in stage 1 -->
{% if stage == 1 %}
<!-- Consent modal-->
<div id="consentModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Participant Information and Consent</h5>
                </button>
            </div>
            <div class="modal-body">
                <p id = 'consent'> {{session.consent}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" id='closeModal'
                    onclick="hide();agreeConsent('{{session.id}}','{{participant.id}}')">I Agree</button>
            </div>
        </div>
    </div>
</div>
{% endif %}



<script>
    // global variable
    var counter = 1

    window.onload = () => {
        $('#consentModal').modal({
            backdrop: 'static',
            keyboard: false
        })
        $('#consentModal').modal('show');
    }

    var stage = "{{stage}}"
    // generating question blocks based on stage
    if (stage >= 2){
        genBlock(stage)
    }

    // function to collate results
    function genAnswer(){
        var ans = []
        var all_ques = document.getElementsByClassName('questionBlk')

        for (var i = 0; i<all_ques.length; i++){
            var ques = all_ques[i]

            // if question is mcq
            if (ques.classList.contains('Mcq')){
                var radios = document.getElementsByName('radio')
                
                for( let j = 0; j<radios.length; j++){
                    // retrieving selected option
                    if (radios[j].checked){
                        ans.push(radios[j].value)
                    }
                }
            }
            else if (ques.classList.contains('Open')){
                ans.push(document.getElementById('openQ').value)
            }
        }
        return ans
    }

    // function to generate prequestions / postquestions
    function genBlock(stage){
        
        if (stage == 2){
            var all_ques = JSON.parse('{{session.pre_ques|safe}}')
            var parent = document.getElementById('pre_ques_blk')
        }
        else{
            var all_ques = JSON.parse('{{session.post_ques|safe}}')
            var parent = document.getElementById('post_ques_blk')
        }
        //for loop to generate questions
        for (var i = 0; i< all_ques.length; i++){

            var indiv_ques = all_ques[i] // each question
            var child = document.createElement('div')  //creating child container to be appended
            child.setAttribute('id', 'q' + counter)

            //checking if question is mcq
            if (indiv_ques.includes('\n')){

                // splitting mcq into question and options
                var mcq = indiv_ques.split('\n')
                var question = mcq[0]
                var options = mcq.slice(1)

                // setting attributes
                var ques = document.createElement('p')
                ques.innerText = question
                
                child.appendChild(ques)
                // creating options
                for (var j = 0; j< options.length; j++){

                    var option = options[j] // retrieving each option
                    var opt = document.createElement('input')
                    var label = document.createElement('label')

                    //opt.setAttribute('id', 'q'+ counter + 'o'+ counter)
                    opt.setAttribute('name', 'radio')
                    opt.setAttribute('type', 'radio')
                    opt.setAttribute('value', option)

                    
                    child.setAttribute('class', 'questionBlk Mcq')

                    //label.setAttribute('for', 'q'+ counter + 'o'+ counter)
                    label.innerText = option
                    
                    child.appendChild(opt)
                    child.appendChild(label)
                    child.appendChild(document.createElement('br'))

                }
            }
            // open ended questions
            else{
                // creating elements
                var ques = document.createElement('p')
                var text = document.createElement('textarea')

                // setting attributes
                ques.innerText = indiv_ques
                child.setAttribute('class', 'questionBlk Open')
                text.setAttribute('id', 'openQ')
                child.appendChild(ques)
                child.appendChild(text)
            }

            parent.appendChild(child)
            counter ++
        }
    }

    function hide() {
        $('#consentModal').modal('hide')
    }

    function agreeConsent(sessionId, participantId) {
        let mydata = { stage: 1, consent: true }
        let targetUrl = `/session/${sessionId}/${participantId}`
        //submiting data
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (xhttp.readyState === XMLHttpRequest.DONE) {
                const status = xhttp.status;
                if (status === 0 || (status >= 200 && status < 400)) {
                    // The request has been completed successfully
                    console.log('Submitted!')
                    console.log(xhttp.responseText);
                    // Redirect to next stage
                    targetUrl = `/session/${sessionId}/${participantId}`
                    location.href = targetUrl;
                } else {
                    console.log(xhttp.responseText);
                    // Oh no! There has been an error with the request!
                }
            }
        }
        xhttp.open('POST', targetUrl, true);
        xhttp.setRequestHeader('Content-Type', 'application/json');
        xhttp.send(JSON.stringify(mydata));

    }

    function submitAns(sessionId, participantId, stage_num) {
        let results = genAnswer()
        //let dummydata = { stage: Number(stage_num), ans: ['yeah'] }
        let data = { stage: Number(stage_num), ans: results }
        console.log(data)
        let targetUrl = `/session/${sessionId}/${participantId}`

        //submiting data
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (xhttp.readyState === XMLHttpRequest.DONE) {
                const status = xhttp.status;
                if (status === 0 || (status >= 200 && status < 400)) {
                    // The request has been completed successfully
                    console.log('Submitted!')
                    console.log(xhttp.responseText);
                    // Redirect to next stage
                    targetUrl = `/session/${sessionId}/${participantId}`
                    location.href = targetUrl;
                } else {
                    console.log(xhttp.responseText);
                    // Oh no! There has been an error with the request!
                }
            }
        }
        xhttp.open('POST', targetUrl, true);
        xhttp.setRequestHeader('Content-Type', 'application/json');
        xhttp.send(JSON.stringify(data));

    }

</script>

{% endblock %}