{% extends "base_participant.html" %}
{% block content %}

<head>
    <link rel='stylesheet' href="{{ url_for('static', filename='css/session_124.css') }}">
</head>

<div id='personalDetails'>
    <p id='reminder'>Please remember your Personal ID Code below. It will be required to continue session or to withdraw
        from research in
        the future.</p>
    <h2 id='id'>ID Code: {{participant.id}}</h2>
    <hr>
</div>

<!-- Load pre-session quesitons if participant is in stage 2 -->
{% if stage == 2 %}
<h1>Pre Session Survey</h1>
<div id='pre_ques_blk'></div>
<button class='surveyBtn' onclick="submitAns('{{session.id}}','{{participant.id}}','{{stage}}')">Submit &
    Continue</button>

<!-- Load post-session quesitons if participant is in stage 4 -->
{% elif stage == 4 %}
<h1>Post Session Survey</h1>
<div class = 'results'>
    <h3> Your highest frequency emotion(s) are as shown below: </h3>
    <h2>{{max_emotions}}</h2>
</div>
<div class = 'results'>
    <h3> Your highest frequency intensity(s) are as shown below:</h3>
    <h2>{{max_intensity}}</h2>
</div>
<div id='post_ques_blk'>
    <!-- Preset Questions-->
    <div id = "q1" class = "questionBlk Open">
        <p> Please state what your highest frequency emotion(s) and comment on them </p>
        <textarea id = "openQ1"></textarea>
        <p id = 'error1' class = 'error'></p>
    </div>
    <div id = "q2" class = "questionBlk Open">
        <p> Please state what your highest frequency intensiy/intensities and comment on them </p>
        <textarea id = "openQ2"></textarea>
        <p id = 'error2' class = 'error'></p>
    </div>

</div>
<button class='surveyBtn' onclick="submitAns('{{session.id}}','{{participant.id}}','{{stage}}')">Submit</button>
{% endif %}

<!-- Load consent modal if participant is in stage 1 -->
{% if stage == 1 %}
<!-- Consent modal-->
<div id="consentModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Participant Information and Consent</h5>
                </button>
            </div>
            <div class="modal-body">
                {% for para in consenttexts %}
                    <p>{{para}}</p>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" id='closeModal'
                    onclick="hide();agreeConsent('{{session.id}}','{{participant.id}}')">I Agree</button>
            </div>
        </div>
    </div>
</div>
{% endif %}



<script>
    // global variable
    var counter = 1

    window.onload = () => {
        $('#consentModal').modal({
            backdrop: 'static',
            keyboard: false
        })
        $('#consentModal').modal('show');
    }

    var stage = "{{stage}}"
    // generating question blocks based on stage
    if (stage >= 2) {
        genBlock(stage)
    }

    // function to validate inputs
    function validateInput(){
        var main_test = []
        var letterNumber = /[0-9a-zA-Z]/
        var all_ques = document.getElementsByClassName('questionBlk')

        for (var i = 0; i< all_ques.length; i++){
            var ques = all_ques[i]
            // open ended
            if (ques.classList.contains('Open')){
                var blk = document.getElementById('q' + (i + 1))
                var input = document.getElementById('openQ' + (i + 1)).value
                var para = document.getElementById('error' + (i+ 1))
                if (input.match(letterNumber) == null){
                    para.innerHTML = "Please enter your response!"
                    blk.style.border = "solid red"
                    blk.style.borderRadius  = '15px'
                    main_test.push(false)
                } 
                else{
                    para.style.visibility = 'Hidden'
                    blk.style.border = "None"
                    main_test.push(true)
                }
            }
            // mcq
            else if (ques.classList.contains('Mcq')){
                var sub_test = []
                var radios = document.getElementsByName('radio' + (i+1))
                var blk = document.getElementById('q' + (i + 1))
                var para = document.getElementById('error' + (i+ 1))
                for (let j = 0; j < radios.length; j++) {
                    // if selected
                    if (radios[j].checked) {
                        sub_test.push(true)
                    }
                    // if unselected
                    else{
                        sub_test.push(false)
                    }
                }
                if (sub_test.includes(true)){
                    para.style.visibility = 'Hidden'
                    blk.style.border = 'None'
                    main_test.push(true)
                }
                else{
                    para.innerHTML = 'Please select a response'
                    blk.style.border = 'solid red'
                    blk.style.borderRadius = '15px'
                    main_test.push(false)
                }
            }
        }
        if(main_test.includes(false)){
            return false
        }
        else{
            return true
        }
    }

    // function to collate results
    function genAnswer() {
        var ans = []
        var all_ques = document.getElementsByClassName('questionBlk')

        for (var i = 0; i < all_ques.length; i++) {
            var ques = all_ques[i]

            // if question is mcq
            if (ques.classList.contains('Mcq')) {
                var radios = document.getElementsByName('radio' + (i+1))

                for (let j = 0; j < radios.length; j++) {
                    // retrieving selected option
                    if (radios[j].checked) {
                        ans.push(radios[j].value)
                    }
                }
            }
            else if (ques.classList.contains('Open')) {
                
                ans.push(document.getElementById('openQ' + (i+1)).value)
            }
        }
        return ans
    }
    

    // function to generate prequestions / postquestions
    function genBlock(stage) {

        // selecting target block for prequestions page
        if (stage == 2) {
            var all_ques = {{session.pre_ques|safe}}
            var parent = document.getElementById('pre_ques_blk')
        }
        // selecting target block for postquestions page
        else {
            var all_ques = {{session.post_ques|safe}}
            var parent = document.getElementById('post_ques_blk')
        }
        //for loop to generate questions
        for (var i = 0; i < all_ques.length; i++) {

            var indiv_ques = all_ques[i] // each question
            var child = document.createElement('div')  //creating child container to be appended
            
            // for postquestions
            if(stage ==4){
                child.setAttribute('id', 'q' + (counter + 2))
            }
            // for prequestions
            else if (stage == 2){
                child.setAttribute('id', 'q' + counter)
            }
            //checking if question is mcq
            if (indiv_ques.includes('\n')) {

                // splitting mcq into question and options
                var mcq = indiv_ques.split('\n')
                var question = mcq[0]
                var options = mcq.slice(1)

                // setting attributes
                var ques = document.createElement('p')
                ques.innerText = question

                child.appendChild(ques)
                // creating options
                for (var j = 0; j < options.length; j++) {

                    var option = options[j] // retrieving each option
                    var opt = document.createElement('input')
                    var label = document.createElement('label')
                    var para = document.createElement('p')

                    // for pre questions page
                    if (stage == 2){
                        opt.setAttribute('id', 'q'+ counter + 'o'+ (j + 1))
                        opt.setAttribute('name', 'radio' + counter)
                        label.setAttribute('for', 'q'+ counter + 'o'+ (j + 1))
                        label.innerText = option
                        para.setAttribute('id', 'error' + counter)
                    }
                    // for post questions page
                    else if (stage ==4){
                        opt.setAttribute('id', 'q'+ (counter + 2)+ 'o'+ (j + 1))
                        opt.setAttribute('name', 'radio' + (counter + 2))
                        label.setAttribute('for', 'q'+ (counter + 2) + 'o'+ (j + 1))
                        label.innerText = option
                        para.setAttribute('id', 'error' + (counter + 2))
                    }
                    para.setAttribute('class', 'error')
                    opt.setAttribute('type', 'radio')
                    opt.setAttribute('value', option)

                    child.setAttribute('class', 'questionBlk Mcq')

                    child.appendChild(opt)
                    child.appendChild(label)
                    child.appendChild(document.createElement('br'))

                }
                
                child.appendChild(para)
            }
            // open ended questions
            else {
                // creating elements
                var ques = document.createElement('p')
                var text = document.createElement('textarea')
                var para = document.createElement('p')

                // setting attributes
                ques.innerText = indiv_ques
                child.setAttribute('class', 'questionBlk Open')
                if (stage == 2){
                    text.setAttribute('id', 'openQ'+ counter)
                    para.setAttribute('id', 'error' + counter)
                }
                else if (stage == 4){
                    text.setAttribute('id', 'openQ'+ (counter + 2))
                    para.setAttribute('id', 'error' + (counter + 2))
                }
                para.setAttribute('class', 'error')
                
                child.appendChild(ques)
                child.appendChild(text)
                child.appendChild(para)
            }

            parent.appendChild(child)
            counter++
        }
    }

    function hide() {
        $('#consentModal').modal('hide')
    }

    function agreeConsent(sessionId, participantId) {
        let mydata = { stage: 1, consent: true }
        let targetUrl = `/session/${sessionId}/${participantId}`
        //submiting data
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (xhttp.readyState === XMLHttpRequest.DONE) {
                const status = xhttp.status;
                if (status === 0 || (status >= 200 && status < 400)) {
                    // The request has been completed successfully
                    console.log('Submitted!')
                    console.log(xhttp.responseText);
                    // Redirect to next stage
                    targetUrl = `/session/${sessionId}/${participantId}`
                    location.href = targetUrl;
                } else {
                    console.log(xhttp.responseText);
                    // Oh no! There has been an error with the request!
                }
            }
        }
        xhttp.open('POST', targetUrl, true);
        xhttp.setRequestHeader('Content-Type', 'application/json');
        xhttp.send(JSON.stringify(mydata));

    }

    function submitAns(sessionId, participantId, stage_num) {
        let is_validate = validateInput()
        if(is_validate == true){
            let results = genAnswer()
            console.log(results)
            //let dummydata = { stage: Number(stage_num), ans: ['yeah'] }
            let data = { stage: Number(stage_num), ans: results }
            console.log(data)
            let targetUrl = `/session/${sessionId}/${participantId}`
            console.log(stage_num)        //submiting data
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (xhttp.readyState === XMLHttpRequest.DONE) {
                    const status = xhttp.status;
                    if (status === 0 || (status >= 200 && status < 400)) {
                        // The request has been completed successfully
                        console.log('Submitted!')
                        console.log(xhttp.responseText);
                        // Redirect to next stage
                        targetUrl = `/session/${sessionId}/${participantId}`
                        location.href = targetUrl;
                    } else {
                        console.log(xhttp.responseText);
                        // Oh no! There has been an error with the request!
                    }
                }
            }
            xhttp.open('POST', targetUrl, true);
            xhttp.setRequestHeader('Content-Type', 'application/json');
            xhttp.send(JSON.stringify(data));
        }
    }
</script>

{% endblock %}