{% extends "base_participant.html" %}
{% block content %}
<head>
    <link rel = 'stylesheet' href = "{{ url_for('static', filename='css/session_3.css') }}">
</head>
<p>Session Name: {{session.session_title}}</p>
<p>Stage Num: {{stage}}</p>
<p>Participant stagenum: {{participant.stage_num}}</p>

<div id = 'personalDetails'>
    <p id = 'reminder'>Please remember your Personal ID Code below. It will be required to continue session or to withdraw from research in
        the future.</p>
    <h2 id = 'id'>ID Code: {{participant.id}}</h2>
    <hr>
</div>
<p>Click on the emotion you are feeling right now and indicate it's intensity.
    Maximum intensity is {{session.intensity}}</p>
<div>
    emotions options: {{session.emotions}}
    <button onclick="submitEmotions('{{session.id}}','{{participant.id}}')">Submit present emotion(s)</button>
    <button onclick="finishSession('{{session.id}}','{{participant.id}}')">Finish Session</button>
</div>

<script>
    function submitEmotions(sessionId, participantId) {
        let mydata = { stage: 3, endStage: false, emotions: { 'sad': 10, 'happy': 5 } }
        let targetUrl = `/session/${sessionId}/${participantId}`
        //submiting data
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (xhttp.readyState === XMLHttpRequest.DONE) {
                const status = xhttp.status;
                if (status === 0 || (status >= 200 && status < 400)) {
                    // The request has been completed successfully
                    console.log('Submitted!')
                    console.log(xhttp.responseText);
                } else {
                    console.log(xhttp.responseText);
                    // Oh no! There has been an error with the request!
                }
            }
        }
        xhttp.open('POST', targetUrl, true);
        xhttp.setRequestHeader('Content-Type', 'application/json');
        xhttp.send(JSON.stringify(mydata));
    }

    function finishSession(sessionId, participantId) {
        let mydata = { stage: 3, endStage: true, emotions: { 'sad': 10, 'happy': 5 } }
        let targetUrl = `/session/${sessionId}/${participantId}`
        //submiting data
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (xhttp.readyState === XMLHttpRequest.DONE) {
                const status = xhttp.status;
                if (status === 0 || (status >= 200 && status < 400)) {
                    // The request has been completed successfully
                    console.log('Submitted!')
                    console.log(xhttp.responseText);
                    // Redirect to next stage
                    targetUrl = `/session/${sessionId}/${participantId}`
                    location.href = targetUrl;
                } else {
                    console.log(xhttp.responseText);
                    // Oh no! There has been an error with the request!
                }
            }
        }
        xhttp.open('POST', targetUrl, true);
        xhttp.setRequestHeader('Content-Type', 'application/json');
        xhttp.send(JSON.stringify(mydata));
    }
</script>

{% endblock %}