{% extends "base_participant.html" %}
{% block content %}
<head>
    <link rel = 'stylesheet' href = "{{ url_for('static', filename='css/session_3.css') }}">
</head>
<!--
<p>Session Name: {{session.session_title}}</p>
<p>Stage Num: {{stage}}</p>
<p>Participant stagenum: {{participant.stage_num}}</p>
-->
<body>
    
    emotions options: {{session.emotions}}
    <div id = 'personalDetails'>
        <p id = 'reminder'>Please remember your Personal ID Code below. It will be required to continue session or to withdraw from research in
            the future.</p>
        <h2 id = 'id'>ID Code: {{participant.id}}</h2>
        <hr>
    </div>
    <p id ='instruction'>Click on the emotion you are feeling right now and indicate it's intensity.<br>
        Maximum intensity is {{session.intensity}}</p>
    <div id = 'bigContainer'>
        <!-- Emotion Blocks will appear here-->
    </div>
    <div>
        <button onclick="submitEmotions('{{session.id}}','{{participant.id}}')">Submit present emotion(s)</button>
        <button onclick="finishSession('{{session.id}}','{{participant.id}}')">Finish Session</button>
    </div>
</body>

<script>
    var counter = 1
    var emotions = "{{session.emotions}}".split('\n')
    var intensity = "{{session.intensity}}"

    genEmotion(emotions, intensity)

    function genEmotion(emotions, intensity){

        var bigContainer = document.getElementById('bigContainer')

        // using for loop to generate all emotion blocks
        for(let i = 0; i< emotions.length; i++){

            var emotion = emotions[i]

            var subParent = document.createElement('div')
            var subContainer = document.createElement('div')
            var blk = document.createElement('span')
            var add = document.createElement('span')
            var subtract = document.createElement('span')
            var intensity = document.createElement('span')

            blk.innerHTML = emotion
            add.innerHTML = "+"
            subtract.innerHTML = "-"
            intensity.innerHTML = "-"

            blk.setAttribute('class', 'emotion')

            add.setAttribute('class', 'add')
            add.setAttribute('id', 'a' + counter)
            add.setAttribute('onclick', 'add(this.id)')
            
            subtract.setAttribute('class', 'subtract')
            subtract.setAttribute('id', 's' + counter)
            subtract.setAttribute('onclick', 'subtract(this.id')

            intensity.setAttribute('class', 'intensity')
            intensity.setAttribute('id', 'i'+ counter)
            subParent.setAttribute('id', 'e' + counter)
            subParent.setAttribute('class','emotionBlk')
            subParent.setAttribute('onclick', 'select(this.id)')
            subContainer.setAttribute('class', 'adjustBlk')


            subContainer.appendChild(add)
            subContainer.appendChild(intensity)
            subContainer.appendChild(subtract)
            subParent.appendChild(blk)
            subParent.appendChild(subContainer)

            if (counter % 2 == 1){
                
                var container = document.createElement('div')
                container.setAttribute('id', counter)
                container.setAttribute('class', 'container')
                container.appendChild(subParent)
            }
            else{
                container.appendChild(subParent)
            }

            bigContainer.appendChild(container)
            
            counter ++
        }
    }

    function select(id){
        var targetId = id.slice(1)
        var targetEmotion = document.getElementById("e" + targetId)
        var targetAdd = document.getElementById('a' + targetId)
        var targetSubtract = document.getElementById('s' + targetId)

        targetEmotion.classList.toggle('emotionBlkActive')
        targetAdd.classList.toggle('addActive')
        targetSubtract.classList.toggle('subtractActive')
    }

    function add(id){
        var targetId = id.slice(1)
        var targetIntensity = document.getElementById('i' + targetId)
        var targetAdd = document.getElementById('a' + targetId)
        var targetSubtract = document.getElementById('s' + targetId)
        var intensity = targetIntensity.textContent
        
        targetSubtract.setAttribute('onclick', 'subtract(this.id)')

        if (intensity == "-"){
            intensity = 3
        } 
        else if (intensity == "{{session.intensity}}"){
            targetAdd.setAttribute('onclick', '')
        }
        else{
            intensity ++
        }
        targetIntensity.innerHTML = intensity
    }


    function submitEmotions(sessionId, participantId) {
        let mydata = { stage: 3, endStage: false, emotions: { 'sad': 10, 'happy': 5 } }
        let targetUrl = `/session/${sessionId}/${participantId}`
        //submiting data
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (xhttp.readyState === XMLHttpRequest.DONE) {
                const status = xhttp.status;
                if (status === 0 || (status >= 200 && status < 400)) {
                    // The request has been completed successfully
                    console.log('Submitted!')
                    console.log(xhttp.responseText);
                } else {
                    console.log(xhttp.responseText);
                    // Oh no! There has been an error with the request!
                }
            }
        }
        xhttp.open('POST', targetUrl, true);
        xhttp.setRequestHeader('Content-Type', 'application/json');
        xhttp.send(JSON.stringify(mydata));
    }

    function finishSession(sessionId, participantId) {
        let mydata = { stage: 3, endStage: true, emotions: { 'sad': 10, 'happy': 5 } }
        let targetUrl = `/session/${sessionId}/${participantId}`
        //submiting data
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (xhttp.readyState === XMLHttpRequest.DONE) {
                const status = xhttp.status;
                if (status === 0 || (status >= 200 && status < 400)) {
                    // The request has been completed successfully
                    console.log('Submitted!')
                    console.log(xhttp.responseText);
                    // Redirect to next stage
                    targetUrl = `/session/${sessionId}/${participantId}`
                    location.href = targetUrl;
                } else {
                    console.log(xhttp.responseText);
                    // Oh no! There has been an error with the request!
                }
            }
        }
        xhttp.open('POST', targetUrl, true);
        xhttp.setRequestHeader('Content-Type', 'application/json');
        xhttp.send(JSON.stringify(mydata));
    }
</script>

{% endblock %}