{% extends "base.html" %}

{% block content %}

<head> 
    <link rel = 'stylesheet' href = '../static/css/viewsession.css'>
</head>

<h1 class="display-4 pagetitle">View Sessions</h1>

<div class="container-holder">
    <div class="container-fluid text-center bg-white">
        <div class="row bg-dark text-white">
            <div class="col-2 d-flex">
                <h5 style="margin:auto"><strong>Session ID</strong></h5>
            </div>
            <div class="col-3 d-flex">
                <h5 style="margin:auto"><strong>Session Name</strong></h5>
            </div>
            <div class="col-2 d-flex">
                <h5 style="margin:auto"><strong>Session Created By (UserID)</strong></h5>
            </div>
            <div class="col-3 d-flex">
                <h5 style="margin:auto"><strong>Session Created By (Username)</strong></h5>
            </div>
            <div class="col-2 d-flex">
                <h5 style="margin:auto"><strong>Delete Session</strong></h5>
            </div>
        </div>

        {% for session in sessions %}

        <div id={{session[0].id}} class="row">
            <div class="col-2 border d-flex">
                <p style="margin:auto; padding-top: 15px; padding-bottom: 15px">{{ session[0].id }}</p>
            </div>
            <div class="col-3 border d-flex">
                <p style="margin:auto">{{ session[0].session_title }}</p>
            </div>
            <div class="col-2 border d-flex">
                <p style="margin:auto">{{ session[0].user_id }}</p>
            </div>
            <div class="col-3 border d-flex">
                <p style="margin:auto">{{ session[1].username }}</p>
            </div>
            <div class="col-2 border d-flex">
                <p style="margin:auto">
                    <button class="delete btn btn-danger">delete</button>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Link and QR Code</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/gh/davidshimjs/qrcodejs/qrcode.min.js"></script>
<script>
    function publish(ele) {
        var sessionid = ele.getAttribute('sessionid')
        var data = { sessionId: sessionid }
        update(sessionid)

        // Send HTTP request
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (xhttp.readyState === XMLHttpRequest.DONE) {
                const status = xhttp.status;
                if (status === 0 || (status >= 200 && status < 400)) {
                    console.log(xhttp.responseText);
                    update(sessionid)
                } else {
                    console.log(xhttp.responseText);
                }
            }
        }
        xhttp.open('POST', '/publishsession', true);
        xhttp.setRequestHeader('Content-Type', 'application/json');
        xhttp.send(JSON.stringify(data));
    }

    // Update the link, disable edit button, remove publish button
    function update(sessionid) {
        // Replace publish button with "Published"
        $('#' + sessionid + ' div:nth-child(4)').empty();
        $('#' + sessionid + ' div:nth-child(4)').append("<p>published</p>");

        // Disable edit button
        $('#' + sessionid + ' div:nth-child(6) .edit').prop('disabled', true);

        // Activate link button
        $('#' + sessionid + ' div:nth-child(3) button').prop('disabled', false);
    }

    // Update the link and QR Code in the popup
    function updatelink(sessionid) {
        $(".modal-body").empty()
        rootUrl = window.location.origin
        linkUrl = rootUrl + '/session/' + sessionid

        $(".modal-body").append("<div id='qrcode'></div>")
        $(".modal-body").append('<p>' + linkUrl + '</p>')

        new QRCode(document.getElementById("qrcode"), linkUrl);
    }
</script>


{% endblock %}