{% extends "base.html" %}

{% block content %}

<head> 
    <link rel = 'stylesheet' href = '../static/css/viewsession.css'>
</head>

<h1 class="display-4 pagetitle">View Sessions</h1>

<div class="container-holder">
    <div class="container-fluid text-center bg-white" id="container">
        <div class="row bg-dark text-white">
            <div class="col-2 d-flex">
                <h5 style="margin:auto"><strong>Session ID</strong></h5>
            </div>
            <div class="col-3 d-flex">
                <h5 style="margin:auto"><strong>Session Name</strong></h5>
            </div>
            <div class="col-2 d-flex">
                <h5 style="margin:auto"><strong>Session Created By (UserID)</strong></h5>
            </div>
            <div class="col-3 d-flex">
                <h5 style="margin:auto"><strong>Session Created By (Username)</strong></h5>
            </div>
            <div class="col-2 d-flex">
                <h5 style="margin:auto"><strong>Delete Session</strong></h5>
            </div>
        </div>

        {% for session in sessions %}

        <div id={{session[0].id}} class="row">
            <div class="col-2 border d-flex">
                <p style="margin:auto; padding-top: 15px; padding-bottom: 15px">{{ session[0].id }}</p>
            </div>
            <div class="col-3 border d-flex">
                <p style="margin:auto">{{ session[0].session_title }}</p>
            </div>
            <div class="col-2 border d-flex">
                <p style="margin:auto">{{ session[0].user_id }}</p>
            </div>
            <div class="col-3 border d-flex">
                <p style="margin:auto">{{ session[1].username }}</p>
            </div>
            <div class="col-2 border d-flex">
                <p style="margin:auto">
                    <button class="delete btn btn-danger" onclick="delSession('{{session[0].id}}')">delete</button>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Link and QR Code</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script>

    // Delete Session
    function delSession(sessionid){
        console.log("test",sessionid)
        //removing session on front end using DOM
        deletedSession = document.getElementById(sessionid)
        parent = document.getElementById('container')
        parent.removeChild(deletedSession)

        var target = JSON.stringify(sessionid)
        $.ajax({
            url: 'deleteSession',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(target)
        })
    }
        
</script>


{% endblock %}