{% extends "base.html" %}

{% block content %}

<head>
    <link rel='stylesheet' href='../static/css/viewsession.css'>
</head>

<h1 class="display-4 pagetitle">View Sessions</h1>

<div class="container-holder">
    <div class="container-fluid text-center bg-white" id='container'>
        <div class="row bg-dark text-white">
            <div class="col-1 d-flex">
                <h5 class="m-auto p-3"><strong>Session ID</strong></h5>
            </div>
            <div class="col-2 d-flex">
                <h5 style="margin:auto"><strong>Session Name</strong></h5>
            </div>
            <div class="col-2 d-flex">
                <h5 style="margin:auto"><strong>Link and QR</strong></h5>
            </div>
            <div class="col-2 d-flex">
                <h5 style="margin:auto"><strong>Publish Session</strong></h5>
            </div>
            <div class="col-2 d-flex">
                <h5 style="margin:auto"><strong>Copy Session</strong></h5>
            </div>
            <div class="col-3 d-flex">
                <h5 style="margin:auto"><strong>Edit/Delete Session</strong></h5>
            </div>
        </div>

        {% for session in sessions %}

        <div id={{session.id}} class="row">
            <div class="col-1 border d-flex">
                <p style="margin:auto; padding-top: 15px; padding-bottom: 15px">{{ session.id }}</p>
            </div>
            <div class="col-2 border d-flex">
                <a class="m-auto fs-5 fw-normal link-primary text-decoration-underline" href="{{url_for('viewSession', sessionid = session.id)}}">{{ session.session_title }}</a>
            </div>
            <div class="col-2 border d-flex">
                <p style="margin:auto">
                    {% if session.published %}
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                        onclick="updatelink('{{session.id}}','{{session.session_title}}')">Link</button>
                    {% else %}
                    <button disabled aria-disabled="true" type="button" class="btn btn-secondary" data-bs-toggle="modal"
                        data-bs-target="#exampleModal"
                        onclick="updatelink('{{session.id}}','{{session.session_title}}')">Link</button>
                    {% endif%}
                </p>
            </div>
            <div class="col-2 border d-flex">
                <p style="margin:auto">
                    {% if session.published %}
                    published
                    {% else %}
                    <button class="btn btn-success" sessionid={{session.id}} onclick="publish(this)">publish</button>
                    {% endif%}
                </p>
            </div>
            <div class="col-2 border d-flex">
                <p style="margin:auto">
                    <a href="{{url_for('copySession', id = session.id)}}"><button
                            class="btn btn-warning">copy</button></a>
                </p>
            </div>
            <div class="col-3 border d-flex">
                <p class="editButton" style="margin:auto">
                    {% if session.published %}
                    <button disabled aria-disabled="true" class="edit btn btn-secondary">edit</button>
                    {% else %}
                    <a style="display: inline;" href="{{url_for('editSession', id = session.id)}}"><button
                            class="edit btn btn-info">edit</button></a>
                    {% endif%}
                </p>
                <p style="margin:auto">
                    <button class="delete btn btn-secondary" onclick="delSession('{{session.id}}')">delete</button>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Link and QR Code</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/gh/davidshimjs/qrcodejs/qrcode.min.js"></script>
<script>
    function publish(ele) {
        var sessionid = ele.getAttribute('sessionid')
        var data = { sessionId: sessionid }
        update(sessionid)

        // Send HTTP request
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (xhttp.readyState === XMLHttpRequest.DONE) {
                const status = xhttp.status;
                if (status === 0 || (status >= 200 && status < 400)) {
                    console.log(xhttp.responseText);
                    update(sessionid)
                } else {
                    console.log(xhttp.responseText);
                }
            }
        }
        xhttp.open('POST', '/publishsession', true);
        xhttp.setRequestHeader('Content-Type', 'application/json');
        xhttp.send(JSON.stringify(data));
    }

    // Update the link, disable edit button, remove publish button
    function update(sessionid) {
        // Replace publish button with "Published"
        $('#' + sessionid + ' div:nth-child(4)').empty();
        $('#' + sessionid + ' div:nth-child(4)').append("<p style='margin:auto'>published</p>");

        // Disable edit button
        $('#' + sessionid + ' div:nth-child(6) .editButton').empty();
        $('#' + sessionid + ' div:nth-child(6) .editButton').append("<button disabled aria-disabled='true' class='edit btn btn-secondary'>edit</button>");

        // Activate link button
        $('#' + sessionid + ' div:nth-child(3) button').prop('disabled', false);
        $('#' + sessionid + ' div:nth-child(3) button').prop('aria-disabled', false);
        $('#' + sessionid + ' div:nth-child(3) button').prop('class', "edit btn btn-primary");
    }

    // Update the link and QR Code in the popup
    function updatelink(sessionid, sessiontitle) {
        $(".modal-body").empty()
        rootUrl = window.location.origin
        linkUrl = rootUrl + '/session/' + sessionid

        $(".modal-body").append('<div><p>Session ID: ' + sessionid + '</p></div>')
        $(".modal-body").append('<div><p>Session Name: ' + sessiontitle + '</p></div>')
        $(".modal-body").append("<div id='qrcode'></div>")
        $(".modal-body").append('<div><p>Session Link: <a id="link" href="' + linkUrl + '">' + linkUrl + '</a></p></div>')

        new QRCode(document.getElementById("qrcode"), linkUrl);
    }

    // Delete Session
    function delSession(sessionid) {

        //removing session on front end using DOM
        deletedSession = document.getElementById(sessionid)
        parent = document.getElementById('container')
        parent.removeChild(deletedSession)

        var target = JSON.stringify(sessionid)
        $.ajax({
            url: 'deleteSession',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(target)
        })
    }

</script>

{% endblock %}