{% extends "base.html" %}

{% block content %}

<head> 
    <link rel = 'stylesheet' href = '../static/css/viewusers.css'>
</head>

<p>View user page</p>
<p>User: {{current_user.username}}</p>

<table class="users_table">
    <tr>
        <th>User Id</th>
        <th>Username</th>
        <th>ORCID</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Institution</th>
        <th>Email</th>
        <th>Reason for using the app</th>
        <th>Delete user</th>
    </tr>

    {% for user in users %}
    
    <tr id={{user.id}}>
        <td>{{ user.id }}</td>
        <td>{{ users.username }}</td>
        <td>{{user.ORCID}}</td>
        <td>{{user.first_name}}</td>
        <td>{{user.last_name}}</td>
        <td>{{user.institution}}</td>
        <td>{{user.email}}</td>
        <td>{{user.reason}}</td>
        <td><button class="delete">delete</button></td>
    </tr>
    {% endfor %}
</table>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Link and QR Code</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script>
     function remove(userid){
        
     }
</script>


{% endblock %}