{% extends "base.html" %}

{% block content %}

<p>View session page</p>
<p>User: {{current_user.username}}</p>

<div class="container" id = 'container'>
    <div class="row">
        <div class="col border ">
            Session Id
        </div>
        <div class="col border ">
            Session Name
        </div>
        <div class="col border">
            Link and QR
        </div>
        <div class="col border">
            Publish Session
        </div>
        <div class="col border">
            Copy Session
        </div>
        <div class="col border">
            Edit/Delete Session
        </div>
    </div>

    {% for session in sessions %}
    <div>
    </div>

    <div id={{session.id}} class="row">
        <div class="col border">
            {{ session.id }}
        </div>
        <div class="col border">
            {{ session.pre_ques }}
        </div>
        <div class="col border">
            {% if session.published %}
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                onclick="updatelink('{{session.id}}')">Link</button>
            {% else %}
            <button disabled type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                onclick="updatelink('{{session.id}}')">Link</button>
            {% endif%}

        </div>
        <div class="col border">
            {% if session.published %}
            published
            {% else %}
            <button sessionid={{session.id}} onclick="publish(this)">publish</button>
            {% endif%}
        </div>
        <div class="col border">
            <button>copy</button>
        </div>
        <div class="col border">
            {% if session.published %}
            <button disabled class="edit">edit</button>
            {% else %}
            <!--<button class="edit" onclick = 'editSession({{session.id}})'>edit</button>-->
            <!--<button class="edit" href = "{{url_for('editSession', id = session.id)}}">edit</button>-->
            <button onclick= "{{url_for('createsession')}}">edit</button>
            <a href = "{{url_for('editSession', id = session.id)}}"> edit </a>
            {% endif%}
            <button class="delete" onclick = 'delSession({{session.id}})'>delete</button>
        </div>
    </div>
    {% endfor %}
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Link and QR Code</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/gh/davidshimjs/qrcodejs/qrcode.min.js"></script>
<script>
    function publish(ele) {
        var sessionid = ele.getAttribute('sessionid')
        var data = { sessionId: sessionid }
        update(sessionid)

        // Send HTTP request
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (xhttp.readyState === XMLHttpRequest.DONE) {
                const status = xhttp.status;
                if (status === 0 || (status >= 200 && status < 400)) {
                    console.log(xhttp.responseText);
                    update(sessionid)
                } else {
                    console.log(xhttp.responseText);
                }
            }
        }
        xhttp.open('POST', '/publishsession', true);
        xhttp.setRequestHeader('Content-Type', 'application/json');
        xhttp.send(JSON.stringify(data));
    }

    // Update the link, disable edit button, remove publish button
    function update(sessionid) {
        // Replace publish button with "Published"
        $('#' + sessionid + ' div:nth-child(4)').empty();
        $('#' + sessionid + ' div:nth-child(4)').append("<p>published</p>");

        // Disable edit button
        $('#' + sessionid + ' div:nth-child(6) .edit').prop('disabled', true);

        // Activate link button
        $('#' + sessionid + ' div:nth-child(3) button').prop('disabled', false);
    }

    // Update the link and QR Code in the popup
    function updatelink(sessionid) {
        $(".modal-body").empty()
        rootUrl = window.location.origin
        linkUrl = rootUrl + '/session/' + sessionid

        $(".modal-body").append("<div id='qrcode'></div>")
        $(".modal-body").append('<p>' + linkUrl + '</p>')

        new QRCode(document.getElementById("qrcode"), linkUrl);
    }

    // Delete Session
    function delSession(sessionid){

        //removing session on front end using DOM
        deletedSession = document.getElementById(sessionid)
        parent = document.getElementById('container')
        parent.removeChild(deletedSession)

        var target = JSON.stringify(sessionid)
        $.ajax({
            url:'deleteSession',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(target)
        })
    }

</script>


{% endblock %}